<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" {{action close target="view"}}>
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">Register new pet</h4>
</div>
<div class="modal-body">
  {{input value=name placeholder='name'}}
  {{input value=genre placeholder='genre'}}
  <label>
    {{input type='checkbox' checked=sterilized}}
    Sterilized?
  </label>
  {{textarea cols="80" rows="6" value=comments}}
  {{input value=img placeholder='img'}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" data-dismiss="modal" {{action close target="view"}}>Close</button>
  <button type="button" class="btn btn-success" {{action save}}>Save changes</button>
</div>
